{% extends "base.html" %}

{% block title %}ログイン画面{% endblock %}

{% block content %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
            <h2>ユーザー登録画面</h2>
            <form  method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="id_username" class="form-label col-sm-4 clos-form-label">ユーザー名</label><br>
                    <div class="col-sm-8">
                        {{ form.username }}
                    </div>
                </div>
                            
                <div class="mb-3 row">
                    <label for="id_password" class="form-label col-sm-4 clos-form-label">パスワード</label><br>
                    <div class="col-sm-8">
                        {{ form.password}}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-success">ログイン</button>
                    </div>
                </div>
            </form>    
        </div>
        </div>
    </section>
{% endblock %}