{% extends "base.html" %}

{% block title %}{{ board.title }}の編集画面{% endblock %}

{% block content %}
    <section class="container">
        <h2>{{ board.title }}の編集画面</h2>
        <form action="{% url 'update' pk=board.id %}" method="post" class="mt-4">
            {% csrf_token %}
            <div  class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">タイトル</label><br>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="{{ form.content.id_for_label }}" class="form-label">内容</label><br>
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-success">更新する</button>
            <a href="{% url 'show' pk=board.id %}" class="btn btn-warning">詳細画面へ戻る</a>
            <a href="{% url 'index' %}" class="btn btn-primary">一覧へ戻る</a>
        </form>
    </section>
{% endblock %}
