*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-position: inside;
}

body{
    font-size:16px;
    color: #333;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}